{% extends 'layouts/public.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="page-container ">
  <!-- START PAGE CONTENT WRAPPER -->
  <div class="page-content-wrapper ">
    <!-- START PAGE CONTENT -->
    <div class="content ">
      <div class="social-wrapper">
        <div class="social " data-pages="social">
          <!-- START JUMBOTRON -->
          <!-- END JUMBOTRON -->
          <div class=" container    container-fixed-lg sm-p-l-0 sm-p-r-0">
            <div class="feed">
              <!-- START DAY -->
              <div class="day" data-social="day" style="position: relative; width: 940px; height: 1000.38px;">
                <!-- START ITEM -->
                <div class="card card-borderless no-border bg-transparent full-width" data-social="item" style="position: absolute; left: 0px; top: 0px;">
                  <!-- START CONTAINER FLUID -->
                  <div class="container-fluid p-t-30 p-b-30 ">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="container-xs-height">
                          <div class="row-xs-height">
                            <div class="social-user-profile col-xs-height text-center col-top">
                              <div class="thumbnail-wrapper d48 circular bordered b-white">
                                <img alt="Avatar" data-src-retina="assets/img/profiles/avatar_small2x.jpg" data-src="assets/img/profiles/avatar.jpg" src="assets/img/profiles/avatar.jpg" width="55" height="55">
                              </div>
                              <br>
                              <i class="pg-icon text-success m-t-10">tick_circle</i>
                            </div>
                            <div class="col-xs-height p-l-20">
                              <h3 class="no-margin p-b-5">David Nester</h3>
                              <p class="no-margin fs-16">is excited about the new pages design framework
                              </p>
                              <p class="hint-text m-t-5 small">San Fransisco Bay | CEO at Pages.inc
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <p class="no-margin fs-16">Hi My Name is David Nester, &amp; heres my new pages user profile page</p>
                        <p class="hint-text m-t-5 small">I love reading people's about page especially those who are in the same industry as me.</p>
                      </div>
                      <div class="col-lg-4">
                        <p class="m-b-5 small">1,435 Mutual Friends</p>
                        <ul class="list-unstyled ">
                          <li class="m-r-10">
                            <div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
                              <img data-src-retina="assets/img/profiles/1x.jpg" data-src="assets/img/profiles/1.jpg" alt="Profile Image" src="assets/img/profiles/1.jpg" width="35" height="35">
                            </div>
                          </li>
                          <li>
                            <div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
                              <img data-src-retina="assets/img/profiles/2x.jpg" data-src="assets/img/profiles/2.jpg" alt="Profile Image" src="assets/img/profiles/2.jpg" width="35" height="35">
                            </div>
                          </li>
                          <li>
                            <div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
                              <img data-src-retina="assets/img/profiles/3x.jpg" data-src="assets/img/profiles/3.jpg" alt="Profile Image" src="assets/img/profiles/3.jpg" width="35" height="35">
                            </div>
                          </li>
                          <li>
                            <div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
                              <img data-src-retina="assets/img/profiles/4x.jpg" data-src="assets/img/profiles/4.jpg" alt="Profile Image" src="assets/img/profiles/4.jpg" width="35" height="35">
                            </div>
                          </li>
                          <li>
                            <div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
                              <img data-src-retina="assets/img/profiles/5x.jpg" data-src="assets/img/profiles/5.jpg" alt="Profile Image" src="assets/img/profiles/5.jpg" width="35" height="35">
                            </div>
                          </li>
                          <li>
                            <div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
                              <img data-src-retina="assets/img/profiles/6x.jpg" data-src="assets/img/profiles/6.jpg" alt="Profile Image" src="assets/img/profiles/6.jpg" width="35" height="35">
                            </div>
                          </li>
                          <li>
                            <div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
                              <img data-src-retina="assets/img/profiles/7x.jpg" data-src="assets/img/profiles/7.jpg" alt="Profile Image" src="assets/img/profiles/7.jpg" width="35" height="35">
                            </div>
                          </li>
                          <li>
                            <div class="thumbnail-wrapper d32 circular b-white">
                              <div class="bg-contrast-high text-center text-white"><span>+34</span>
                              </div>
                            </div>
                          </li>
                        </ul>
                        <br>
                        <p class="m-t-5 small">More friends</p>
                      </div>
                    </div>
                  </div>
                  <!-- END CONTAINER FLUID -->
                </div>
                <!-- END ITEM -->
                <!-- START ITEM -->
                
                <!-- END ITEM -->
                <!-- START ITEM -->
                
                <!-- END ITEM -->
                <!-- START ITEM -->
                <div class="card social-card share  col1" data-social="item" style="position: absolute; left: 0px; top: 217px;">
                  <div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label">
                  </div>
                  <div class="card-header clearfix">
                    <div class="user-pic">
                      <img alt="Profile Image" data-src-retina="assets/img/profiles/5x.jpg" data-src="assets/img/profiles/5.jpg" src="assets/img/profiles/5.jpg" width="33" height="33">
                    </div>
                    <h5>College Name</h5>
                    <h6 class="d-flex align-items-center">Field (Engineering, Medical, etc)<i class="pg-icon">map</i>
            <span class="location semi-bold">Location, Country</span>
          </h6>
                  </div>
                  <div class="card-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin accumsan consectetur nunc ac eleifend. </p>
                    <div class="via">99% Match</div>
                  </div>
                  <div class="card-content">
                    
                    
                  </div>
                  
                </div>
                <!-- END ITEM -->
                <!-- START ITEM -->
                <div class="card social-card share  col1" data-social="item" style="position: absolute; left: 320px; top: 217px;">
                  <div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label">
                  </div>
                  <div class="card-header clearfix">
                    <div class="user-pic">
                      <img alt="Profile Image" data-src-retina="assets/img/profiles/8x.jpg" data-src="assets/img/profiles/8.jpg" src="assets/img/profiles/8.jpg" width="33" height="33">
                    </div>
                    <h5>College Name</h5>
                    <h6 class="d-flex align-items-center">Medical<i class="pg-icon">map</i>
            <span class="location semi-bold">xyz, India</span>
          </h6>
                  </div>
                  <div class="card-description">
                    <p>What you think, you become. What you feel, you attract. What you imagine, you create - Buddha. <a href="#">#quote</a></p>
                    <div class="via">96% Match</div>
                  </div>
                </div>
                <!-- END ITEM -->
                <!-- START ITEM -->
                <div class="card social-card share  col1" data-social="item" style="position: absolute; left: 640px; top: 217px;">
                  <div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label">
                  </div>
                  <div class="card-header clearfix">
                    <div class="user-pic">
                      <img alt="Profile Image" data-src-retina="assets/img/profiles/4x.jpg" data-src="assets/img/profiles/4.jpg" src="assets/img/profiles/4.jpg" width="33" height="33">
                    </div>
                    <h5>College Name</h5>
                    <h6 class="d-flex align-items-center">Lorem Ipsum<i class="pg-icon">map</i>
            <span class="location semi-bold">XYZ, India</span>
          </h6>
                  </div>
                  <div class="card-description">
                    <p>What a lovely day! I think I should go and play outside.</p>
                  </div>
                </div>
                <!-- END ITEM -->
                <!-- START ITEM -->
                <div class="card social-card share share-other col1" data-social="item" style="position: absolute; left: 640px; top: 385px;">
                  <div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label">
                  </div>
                  <div class="card-content">
                    <ul class="buttons ">
                      <li>
                        <a href="#" class="d-flex"><i class="pg-icon">expand</i>
              </a>
                      </li>
                      <li>
                        <a href="#" class="d-flex"><i class="pg-icon">heart_outline</i>
              </a>
                      </li>
                    </ul>
                    <img alt="Quote" src="static/assets/img/social/quote.jpg">
                  </div>
                  <div class="card-description">
                    <p>Description of the College</p>
                  </div>
                  
                  <div class="card-header clearfix last">
                    <div class="user-pic">
                      <img alt="Profile Image" data-src-retina="assets/img/profiles/7x.jpg" data-src="assets/img/profiles/7.jpg" src="assets/img/profiles/7.jpg" width="33" height="33">
                    </div>
                    <h5>College Name</h5>
                    <h6>Updated Details</h6>
                  </div>
                </div>
                <!-- END ITEM -->
                <!-- START ITEM -->
                <div class="card social-card share share-other col1" data-social="item" style="position: absolute; left: 320px; top: 426px;">
                  <div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label">
                  </div>
                  <div class="card-content">
                    <ul class="buttons ">
                      <li>
                        <a href="#" class="d-flex"><i class="pg-icon">expand</i>
              </a>
                      </li>
                      <li>
                        <a href="#" class="d-flex"><i class="pg-icon">heart</i>
              </a>
                      </li>
                    </ul>
                    <img alt="Person photo" src="static/assets/img/social/person-1.jpg">
                  </div>
                  <div class="card-description">
                    <p><a>Description</a></p>
                  </div>
                  <div class="card-footer clearfix">
                    <div class="time">Sponsored</div>
                    
                  </div>
                  <div class="card-header clearfix last">
                    <div class="user-pic">
                      <img alt="Avatar" data-src-retina="assets/img/profiles/avatar_small2x.jpg" data-src="assets/img/profiles/avatar.jpg" src="assets/img/profiles/avatar.jpg" width="33" height="33">
                    </div>
                    <h5>College Name</h5>
                    <h6>Share the details</h6>
                  </div>
                </div>
                <!-- END ITEM -->
                <!-- START ITEM -->
                
                <!-- END ITEM -->
                <!-- START ITEM -->
                
                <!-- END ITEM -->
                <!-- START ITEM -->
                <div class="card social-card share  col1" data-social="item" style="position: absolute; left: 0px; top: 450px;">
                  <div class="card-header ">
                    <h5 class="text-complete pull-left fs-12 d-flex">News <i class="pg-icon text-complete">circle_fill</i>
          </h5>
                    
                    <div class="clearfix"></div>
                  </div>
                  <div class="card-description">
                    <h3>New news that would help the students understand about the latest colleges and their updated terms.</h3>
                  </div>
                  <div class="card-footer clearfix">
                    <div class="pull-left">via <span class="text-complete">Source</span>
                    </div>
                    <div class="pull-right hint-text">
                      Apr 23
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <!-- END ITEM -->
                <!-- START ITEM -->
                
                <!-- END ITEM -->
                
                
                
                
                
                
                
                
                
                
              </div>
              <!-- END DAY -->



<div class=" container    container-fixed-lg">
        <!-- START card -->
        <div class="card card-transparent">
          <div class="card-header ">
      
            
            <div class="pull-left">
              <div class="col-l-1">
                <button aria-label="" id="show-modal" class="btn btn-primary btn-cons">History
                </button>
              </div>
            </div><div class="clearfix"></div>
          </div>
          <div class="card-body">
            <table class="table table-hover demo-table-dynamic table-responsive-block" id="tableWithDynamicRows">
              <thead>
                <tr>
                  <th>College Name</th>
                  <th>Description</th>
                  <th>Match</th>
                  <th>Notes</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="v-align-middle">
                    <p>Hyperlapse</p>
                  </td>
                  <td class="v-align-middle">
                    <p>Description goes here</p>
                  </td>
                  <td class="v-align-middle">
                    <p>FREE</p>
                  </td>
                  <td class="v-align-middle">
                    <p>Notes go here</p>
                  </td>
                </tr>
                <tr>
                  <td class="v-align-middle">
                    <p>Facebook</p>
                  </td>
                  <td class="v-align-middle">
                    <p>Description goes here</p>
                  </td>
                  <td class="v-align-middle">
                    <p>FREE</p>
                  </td>
                  <td class="v-align-middle">
                    <p>Notes go here</p>
                  </td>
                </tr>
                <tr>
                  <td class="v-align-middle">
                    <p>Twitter</p>
                  </td>
                  <td class="v-align-middle">
                    <p>Description goes here</p>
                  </td>
                  <td class="v-align-middle">
                    <p>FREE</p>
                  </td>
                  <td class="v-align-middle">
                    <p>Notes go here</p>
                  </td>
                </tr>
                <tr>
                  <td class="v-align-middle">
                    <p>Foursquare</p>
                  </td>
                  <td class="v-align-middle">
                    <p>Description goes here</p>
                  </td>
                  <td class="v-align-middle">
                    <p>FREE</p>
                  </td>
                  <td class="v-align-middle">
                    <p>Notes go here</p>
                  </td>
                </tr>
                <tr>
                  <td class="v-align-middle">
                    <p>Angry Birds</p>
                  </td>
                  <td class="v-align-middle">
                    <p>Description goes here</p>
                  </td>
                  <td class="v-align-middle">
                    <p>FREE</p>
                  </td>
                  <td class="v-align-middle">
                    <p>Notes go here</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- END card -->
      </div>




            </div>
            <!-- END FEED -->
          </div>
          <!-- END CONTAINER FLUID -->
        </div>
        <!-- /container -->
      </div>
    </div>
    <!-- END PAGE CONTENT -->
    <!-- START COPYRIGHT -->
    <!-- START CONTAINER FLUID -->
    <!-- START CONTAINER FLUID -->
    <div class=" container   container-fixed-lg footer">
      <div class="copyright sm-text-center">
        <p class="small-text no-margin pull-left sm-pull-reset">
          ©2014-2020 All Rights Reserved. Pages® and/or its subsidiaries or affiliates are registered trademark of Revox Ltd.
          <span class="hint-text m-l-15">Pages v05.23 20201105.r.190</span>
        </p>
        <p class="small no-margin pull-right sm-pull-reset">
          Hand-crafted <span class="hint-text">&amp; made with Love</span>
        </p>
        <div class="clearfix"></div>
      </div>
    </div>
    <!-- END COPYRIGHT -->
  </div>
  <!-- END PAGE CONTENT WRAPPER -->
</div>
{% endblock %}