export DJANGO_SETTINGS_MODULE=settings.production

export DB_USER=mycollegeai
export DB_PASSWORD=mycollegeai
export DB_HOST=mycollegeai-free.cczjcsy15rq9.ap-south-1.rds.amazonaws.com
export DB_NAME=mycollegeai-free

export EMAIL_USER=mycollegeai01@gmail.com
export EMAIL_PASSWORD=