{% extends "v2/layouts/edit-layout.html" %}
{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}

<form method = "post">
  {% csrf_token %}
  <label for="new_password">New Password:</label>
  <input type="password" name="new_password"><br>
  <label for="confirm_password">Confirm New Password:</label>
  <input type="password" name="confirm_password">
  <input type="submit" value="Set Password">
</form>

{% endblock %}