{% extends 'v2/layouts/public.html' %}

{% block title %} Career {% endblock %}

{% block hero_title %} <ul class="breadcrumb">
  <li class="link-01"><a href="{% url 'home' %}">Home</a></li>
  <li class="link-01"> Career</li>
</ul>
<h2> Career </h2> {% endblock %}

{% block content %}
    <section id="content">
      <div class="container">
        <h3>Join A Team That Celebrates You Daily! </h3>
        <p>At mycollegeai, we extremely believe in individual growth that eventually leads to collective growth. If you wish to join us, drop an email at <a class="paragraph-01" href="mailto: hello@mycollegeai.com"> hello@mycollegeai.com </a> with your CV. We will explore opportunities for you.
        </p>
        <p> With mycollegeai, you will not only experience corporate excellence but also a nurturing work culture that is essential for your individual growth. Last but not the least we have fun time to time.</p>
      </div>
    </section>
{% endblock %}