{% extends 'v2/layouts/public.html' %}
{% load static %}
{% block title %} {{ course.meta_title }} {% endblock %}
{% block description %} {{ course.meta }} {% endblock %}
{% block meta_title %} {{ course.meta_title }} {% endblock %}
{% block meta_description %} {{ course.meta }} {% endblock %}
{% block page_name %}
    <li class="breadcrumb-item active">Courses</li>
    <li class="breadcrumb-item active">{{ course.full_name }}</li>
{% endblock %}

{% block hero_title %}
  <div class="container">
    <ul class="breadcrumb">
      <li class="link-01"><a href="{% url 'home' %}">Home</a></li>
      <li class="link-01"> <a href="/course/list">Courses</a></li>
      <li class="link-01"><a href="{% url 'course:individual' course.slug%}">{{ course.abbreviated_name }}</a> </li>
    </ul>
    <div class="header-primary-info">
      <!-- <div class="logo"><img src="{{ college.logo.url }}" alt="College Logo"></div> -->
      <h3 class="header-03" style="margin: 0%;">{{ course.full_name }}</h3>
      <h3 class="header-03" style="margin: 0%;">{{ course.abbreviated_name }}</h3>
    </div>
  </div>
{% endblock %}
{% block content %}
<section id = "individual-page-content">
    <div class="container">
      <div class="main-content">
        <div class="main-content-card quick-facts">
          <h4 class="sub-header-01 quick-facts_header">Quick Facts</h4>
          <div class="quick-facts_content">
            <div class="quick-facts_content-item"><span class="label-01">Course Level</span>
              <p class="paragraph-01">{{ course.level }}</p>
            </div>
            <div class="quick-facts_content-item"><span class="label-01">Stream</span>
              <p class="paragraph-01">{{ course.stream }}</p>
            </div>
            <div class="quick-facts_content-item"><span class="label-01">Duration</span>
              <p class="paragraph-01">{{ course.duration }}</p>
            </div>
            <div class="quick-facts_content-item"><span class="label-01">Examination Type</span>
              <p class="paragraph-01">{{ course.examination_type}}
              </p>
            </div>
            <div class="quick-facts_content-item"><span class="label-01">Basic Eligibility</span>
              <p class="paragraph-01">{{ course.eligibility }}</p>
            </div>
            <div class="quick-facts_content-item"><span class="label-01">Average College Fees</span>
                <p class="paragraph-01">{{ course.avg_course_fees }}</p>
              </div>
          </div>
        </div>
        <div class="main-content-card">
            <h5 class="sub-header-01 main-content-card-header">About :</h5>
            <div class="main-content-card-content">
                <p class="paragraph-01"> {{ course.about}}</p>
            </div>
                <button class="icon-link main-content-card-button">
                <svg class="icon" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.5651 14.38L12.5651 19.36C12.4051 19.52 12.2051 19.6 12.0051 19.6C11.8051 19.6 11.6051 19.52 11.4451 19.36L6.44507 14.38C6.12507 14.06 6.12507 13.56 6.44507 13.24C6.76507 12.92 7.26508 12.92 7.58508 13.24L11.2251 16.86V5.20002C11.2251 4.76002 11.5851 4.40002 12.0251 4.40002C12.4651 4.40002 12.8251 4.76002 12.8251 5.20002V16.88L16.4651 13.26C16.7851 12.94 17.2851 12.94 17.6051 13.26C17.8851 13.56 17.8851 14.06 17.5651 14.38Z"></path>
                </svg><span class="link-primary_lined">Read More</span>
              </button>
          </div>

          <div class="main-content-card">
            <h4 class="sub-header-01 main-content-card-header">Syllabus :</h4>
            <div class="main-content-card-content">
              <table>
                <tbody>
                  {% for syllabus_tuple in syllabus %}
                      <tr>
                          {% for syllabus in syllabus_tuple %}
                           <td>{{ syllabus }}</td>
                          {% endfor %}
                      </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <button class="icon-link main-content-card-button">
              <svg class="icon" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.5651 14.38L12.5651 19.36C12.4051 19.52 12.2051 19.6 12.0051 19.6C11.8051 19.6 11.6051 19.52 11.4451 19.36L6.44507 14.38C6.12507 14.06 6.12507 13.56 6.44507 13.24C6.76507 12.92 7.26508 12.92 7.58508 13.24L11.2251 16.86V5.20002C11.2251 4.76002 11.5851 4.40002 12.0251 4.40002C12.4651 4.40002 12.8251 4.76002 12.8251 5.20002V16.88L16.4651 13.26C16.7851 12.94 17.2851 12.94 17.6051 13.26C17.8851 13.56 17.8851 14.06 17.5651 14.38Z"></path>
              </svg><span class="link-primary_lined">Read More</span>
            </button>
          </div>


          <div class="main-content-card">
            <h4 class="sub-header-01 main-content-card-header">Career :</h4>
            <div class="main-content-card-content">
              <table>
                <tbody>
                  {% for career_tuple in career %}
                      <tr>
                          {% for career in career_tuple %}
                           <td>{{ career }}</td>
                          {% endfor %}
                      </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <button class="icon-link main-content-card-button">
              <svg class="icon" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.5651 14.38L12.5651 19.36C12.4051 19.52 12.2051 19.6 12.0051 19.6C11.8051 19.6 11.6051 19.52 11.4451 19.36L6.44507 14.38C6.12507 14.06 6.12507 13.56 6.44507 13.24C6.76507 12.92 7.26508 12.92 7.58508 13.24L11.2251 16.86V5.20002C11.2251 4.76002 11.5851 4.40002 12.0251 4.40002C12.4651 4.40002 12.8251 4.76002 12.8251 5.20002V16.88L16.4651 13.26C16.7851 12.94 17.2851 12.94 17.6051 13.26C17.8851 13.56 17.8851 14.06 17.5651 14.38Z"></path>
              </svg><span class="link-primary_lined">Read More</span>
            </button>
          </div>

          <div class="main-content-card">
            <h4 class="sub-header-01 main-content-card-header">Top Institutes :</h4>
            <div class="main-content-card-content">
              <table>
                <tbody>
                  {% for top_institutes_tuple in top_institutes %}
                      <tr>
                          {% for top_institutes in top_institutes_tuple %}
                           <td>{{ top_institutes }}</td>
                          {% endfor %}
                      </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <button class="icon-link main-content-card-button">
              <svg class="icon" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.5651 14.38L12.5651 19.36C12.4051 19.52 12.2051 19.6 12.0051 19.6C11.8051 19.6 11.6051 19.52 11.4451 19.36L6.44507 14.38C6.12507 14.06 6.12507 13.56 6.44507 13.24C6.76507 12.92 7.26508 12.92 7.58508 13.24L11.2251 16.86V5.20002C11.2251 4.76002 11.5851 4.40002 12.0251 4.40002C12.4651 4.40002 12.8251 4.76002 12.8251 5.20002V16.88L16.4651 13.26C16.7851 12.94 17.2851 12.94 17.6051 13.26C17.8851 13.56 17.8851 14.06 17.5651 14.38Z"></path>
              </svg><span class="link-primary_lined">Read More</span>
            </button>
          </div>

          <!-- <div class="main-content-card">
            <h5 class="sub-header-02">Syllabus: </h5>
            <div class="main-content-card-content">
                <p class="paragraph-01"> {{ course.syllabus}}</p>
            </div>
                <button class="icon-link main-content-card-button">
                <svg class="icon" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.5651 14.38L12.5651 19.36C12.4051 19.52 12.2051 19.6 12.0051 19.6C11.8051 19.6 11.6051 19.52 11.4451 19.36L6.44507 14.38C6.12507 14.06 6.12507 13.56 6.44507 13.24C6.76507 12.92 7.26508 12.92 7.58508 13.24L11.2251 16.86V5.20002C11.2251 4.76002 11.5851 4.40002 12.0251 4.40002C12.4651 4.40002 12.8251 4.76002 12.8251 5.20002V16.88L16.4651 13.26C16.7851 12.94 17.2851 12.94 17.6051 13.26C17.8851 13.56 17.8851 14.06 17.5651 14.38Z"></path>
                </svg><span class="link-primary_lined">Read More</span>
              </button>
          </div>
          <div class="main-content-card">
            <h5 class="sub-header-02">Top Institutes: </h5>
            <div class="main-content-card-content">
                <p class="paragraph-01"> {{ course.top_institutes}}</p>
            </div>
                <button class="icon-link main-content-card-button">
                <svg class="icon" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.5651 14.38L12.5651 19.36C12.4051 19.52 12.2051 19.6 12.0051 19.6C11.8051 19.6 11.6051 19.52 11.4451 19.36L6.44507 14.38C6.12507 14.06 6.12507 13.56 6.44507 13.24C6.76507 12.92 7.26508 12.92 7.58508 13.24L11.2251 16.86V5.20002C11.2251 4.76002 11.5851 4.40002 12.0251 4.40002C12.4651 4.40002 12.8251 4.76002 12.8251 5.20002V16.88L16.4651 13.26C16.7851 12.94 17.2851 12.94 17.6051 13.26C17.8851 13.56 17.8851 14.06 17.5651 14.38Z"></path>
                </svg><span class="link-primary_lined">Read More</span>
              </button>
          </div>
          <div class="main-content-card">
            <h5 class="sub-header-02">Career: </h5>
            <div class="main-content-card-content">
                <p class="paragraph-01"> {{ course.career}}</p>
            </div>
                <button class="icon-link main-content-card-button">
                <svg class="icon" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.5651 14.38L12.5651 19.36C12.4051 19.52 12.2051 19.6 12.0051 19.6C11.8051 19.6 11.6051 19.52 11.4451 19.36L6.44507 14.38C6.12507 14.06 6.12507 13.56 6.44507 13.24C6.76507 12.92 7.26508 12.92 7.58508 13.24L11.2251 16.86V5.20002C11.2251 4.76002 11.5851 4.40002 12.0251 4.40002C12.4651 4.40002 12.8251 4.76002 12.8251 5.20002V16.88L16.4651 13.26C16.7851 12.94 17.2851 12.94 17.6051 13.26C17.8851 13.56 17.8851 14.06 17.5651 14.38Z"></path>
                </svg><span class="link-primary_lined">Read More</span>
              </button>
          </div> -->
      </div>
    </div>
    </section>
    {% endblock %}