{% extends 'v2/layouts/home.html' %}

{% load static %}

{% block content %}

    {% if error %}
    <div class="alert alert-success" style="margin-top: 10px; text-align: center; background-color: orangered; font-family: Roboto" role="alert">
          {{ error }}
        </div>
    {% elif message %}
    <div class="alert alert-success" style="margin-top: 10px; text-align: center; background-color: limegreen; font-family: Roboto" role="alert">
          {{ message }}
        </div>
    {% endif %}

    <section id="counselling">
      <div class="container">
        <div class="counselling-header">
          <h2 class="header-02">Having Problems in Choosing your College?</h2>
        </div>
        <div class="counselling-content">
          <h4 class="sub-header-01">Psychometric Test</h4>
          <p>
            We ease your biggest doubts with our AI based technology in finding your dream college.
          </p>
          <a href="{% url 'psycho' %}" class="button-primary" id="psychoid">Get Started</a>
        </div>
        <div class="counselling-confirmation">
          <div class="counselling-confirmation-message">
            <h5>
               <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24">
                <g clip-path="url(#clip0)">
                <path xmlns="http://www.w3.org/2000/svg" d="M12.0576 0C5.44098 0 0.0576172 5.38336 0.0576172 12C0.0576172 18.6166 5.44098 24 12.0576 24C18.6743 24 24.0576 18.6166 24.0576 12C24.0576 5.38336 18.6743 0 12.0576 0ZM12.0576 22.801C6.10166 22.801 1.25664 17.956 1.25664 12C1.25664 6.04405 6.10166 1.19902 12.0576 1.19902C18.0136 1.19902 22.8586 6.04405 22.8586 12C22.8586 17.956 18.0136 22.801 12.0576 22.801Z"/>
                <path d="M15.1994 9.07828L10.5991 13.6541L8.92043 11.9657C8.68552 11.7308 8.30868 11.7308 8.07377 11.9608C7.83886 12.1908 7.83886 12.5726 8.06888 12.8075L10.1684 14.9217C10.2858 15.0391 10.4376 15.0979 10.5942 15.0979C10.7459 15.0979 10.8976 15.0391 11.015 14.9217L16.0411 9.92494C16.2761 9.69003 16.2761 9.31319 16.046 9.07828C15.8111 8.84337 15.4343 8.84337 15.1994 9.07828Z"/>
                </g>
                <defs>
                <clipPath id="clip0">
                <path d="M0.0576172 0H24.0576V24H0.0576172V0Z"/>
                </clipPath>
                </defs>
                </svg>You are queued
            </h5>
            <p>Our Expert will contact you through your email or phone(if provided).</p><span><span class="label-01 message-tip">Tip</span><span class="label-01">To add your Phone number go to your <a href="account-settings.html#contact-details">Account Settings</a></span></span>
          </div>
        </div>
      </div>
    </section>

    <section id="featured-colleges">
      <div class="container">
        <div class="featured-section-header">
          <div class="featured-section-header-content">
            <h4 class="sub-header-01">Different Types of Colleges</h4>
            <p>Checkout the different types of colleges available for you.</p>
          </div>
        </div>
        <div class="featured-section-cards">
          <div class="cards-group">
            {% for college in college_tags %}
            <div class="card_college" id = "college_tag">
            <!-- <div class="card_college-img" style="width: -moz-fit-content; width: fit-content; margin: 0 auto;"><img src="{{ college.image.url }}" alt="College Logo" style="height: 90%;"/></div> -->
              <div class="card_college-details" style="padding: 5px 0px; width: -moz-fit-content; width: fit-content; margin: 0 auto;"><a class="sub-header-03" style="color: #52535c;" href="/college/{{college.url_tag| lower }}-colleges-in-India">{{college.name}}</a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>


    <section id="featured-colleges">
      <div class="container">
        <div class="featured-section-header">
          <div class="featured-section-header-content">
            <h4 class="sub-header-01">Popular Exams</h4>
            <p>We have listed the popular exams for you.</p>
          </div>
          <div class="search-bar_small">
            <svg class="icon" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0)">
                <path d="M23.7901 22.3016L17.9577 16.5907C19.5222 14.8295 20.4694 12.5316 20.4694 10.0201C20.4694 4.49157 15.877 0 10.2362 0C4.59007 0 0.00292969 4.49678 0.00292969 10.0201C0.00292969 15.5433 4.59539 20.0401 10.2362 20.0401C12.8012 20.0401 15.1479 19.1126 16.9466 17.5807L22.779 23.2916C22.9173 23.4271 23.1036 23.5 23.2845 23.5C23.4655 23.5 23.6517 23.4323 23.7901 23.2916C24.0668 23.0206 24.0668 22.5725 23.7901 22.3016ZM1.43442 10.0201C1.43442 5.26796 5.38297 1.40687 10.2309 1.40687C15.0841 1.40687 19.0273 5.27317 19.0273 10.0201C19.0273 14.767 15.0841 18.6385 10.2309 18.6385C5.38297 18.6385 1.43442 14.7722 1.43442 10.0201Z"></path>
              </g>
            </svg>
            <h6 class="label-02">Search Exams</h6>
          </div>
        </div>
        <div class="featured-section-cards">
          <div class="cards-group">
            {% for exam in exams %}
            <div class="card_college">
              <!-- <div class="card_college-img"><img src="{{ college.image.url }}" alt="College Logo"/></div> -->
              <div class="card_college-details"><a class="sub-header-02" href="/exam/{{ exam.slug }}">{{exam.abbreviated_name}}</a>
                <div class="card_college-details_secondary"><span class="label-01">{{ exam.conducting_body }}</span><span class="label-01">{{ exam.exam_level }}</span></div><a class="link-primary_lined" href="#downloadIITBombay" download="download">Apply Now</a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>


    <section id="featured-colleges">
      <div class="container">
        <div class="featured-section-header">
          <div class="featured-section-header-content">
            <h4 class="sub-header-01">Top Colleges</h4>
            <p>Checkout the best colleges for you.</p>
          </div>
          <div class="search-bar_small">
            <svg class="icon" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0)">
                <path d="M23.7901 22.3016L17.9577 16.5907C19.5222 14.8295 20.4694 12.5316 20.4694 10.0201C20.4694 4.49157 15.877 0 10.2362 0C4.59007 0 0.00292969 4.49678 0.00292969 10.0201C0.00292969 15.5433 4.59539 20.0401 10.2362 20.0401C12.8012 20.0401 15.1479 19.1126 16.9466 17.5807L22.779 23.2916C22.9173 23.4271 23.1036 23.5 23.2845 23.5C23.4655 23.5 23.6517 23.4323 23.7901 23.2916C24.0668 23.0206 24.0668 22.5725 23.7901 22.3016ZM1.43442 10.0201C1.43442 5.26796 5.38297 1.40687 10.2309 1.40687C15.0841 1.40687 19.0273 5.27317 19.0273 10.0201C19.0273 14.767 15.0841 18.6385 10.2309 18.6385C5.38297 18.6385 1.43442 14.7722 1.43442 10.0201Z"></path>
              </g>
            </svg>
            <h6 class="label-02">Search Colleges</h6>
          </div>
        </div>
        <div class="featured-section-cards">
          <div class="cards-group">
            {% for college in colleges %}
            <div class="card_college">
              <div class="card_college-img"><img src="{{ college.image.url }}" alt="College Logo"/></div>
              <div class="card_college-details"><a class="sub-header-02" href="/college/{{ college.slug }}">{{college.abbreviated_name}}</a>
                <div class="card_college-details_secondary"><span class="label-01">{{college.city}}</span><span class="label-01">{{ college.get_ownership_display }}</span></div><a class="link-primary_lined" href="#download" download="download">Apply Now</a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>


    <section id="featured-colleges">
      <div class="container">
        <div class="featured-section-header">
          <div class="featured-section-header-content">
            <h4 class="sub-header-01">Recommended Courses</h4>
            <p>Here are our recommended courses for you.</p>
          </div>
          <div class="search-bar_small">
            <svg class="icon" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0)">
                <path d="M23.7901 22.3016L17.9577 16.5907C19.5222 14.8295 20.4694 12.5316 20.4694 10.0201C20.4694 4.49157 15.877 0 10.2362 0C4.59007 0 0.00292969 4.49678 0.00292969 10.0201C0.00292969 15.5433 4.59539 20.0401 10.2362 20.0401C12.8012 20.0401 15.1479 19.1126 16.9466 17.5807L22.779 23.2916C22.9173 23.4271 23.1036 23.5 23.2845 23.5C23.4655 23.5 23.6517 23.4323 23.7901 23.2916C24.0668 23.0206 24.0668 22.5725 23.7901 22.3016ZM1.43442 10.0201C1.43442 5.26796 5.38297 1.40687 10.2309 1.40687C15.0841 1.40687 19.0273 5.27317 19.0273 10.0201C19.0273 14.767 15.0841 18.6385 10.2309 18.6385C5.38297 18.6385 1.43442 14.7722 1.43442 10.0201Z"></path>
              </g>
            </svg>
            <h6 class="label-02">Search Courses</h6>
          </div>
        </div>
        <div class="featured-section-cards">
          <div class="cards-group">
            {% for course in courses %}
            <div class="card_college">
              <!-- <div class="card_college-img"><img src="{{ college.image.url }}" alt="College Logo"/></div> -->
              <div class="card_college-details"><a class="sub-header-02" href="/course/{{ course.slug }}">{{course.abbreviated_name}}</a>
                <div class="card_college-details_secondary"><span class="label-01">{{ course.stream }}</span><span class="label-01">{{ course.level }}</span></div><a class="link-primary_lined" href="#downloadIITBombay" download="download">Apply Now</a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
{% endblock %}