{% extends 'v2/layouts/public.html' %}

{% block title %} Privacy Policy {% endblock %}

{% block hero_title %} <ul class="breadcrumb">
    <li class="link-01"><a href="{% url 'home' %}">Home</a></li>
    <li class="link-01"><a href="{% url 'privacy' %}"> Privacy Policy</a></li>
  </ul>
  <h2> Privacy Policy </h2> {% endblock %}

{% block content %}
    <section id="content">
      <div class="container">
       <p>The mycollegeai.com Is the manager, moderator and operator of the website and all of its versions including mobile and applications. This website privacy policy document clarifies all the issues related to how we will use the data and information collected from users. The privacy policy is prepared only for mycollegeai.com and not for websites linked through it. Kindly refer respective documents to get more insights.
        <ul>
            <li>
            The website is not for the users below 13 years and thus we do not intend to keep data of the users below the specified age. We will remove the data as soon as we find any such kind of data. 
            </li>
            <li>
                The website stores and uses cookies and web log files to track site usage and trends, to improve the quality of our service, to customize your experience on our platforms, as well as to deliver third-party advertising to Users both on and off our platforms.
            </li>
            <li>
                We also allow the authorized third parties place or recognize a unique cookie on your browser. Any information provided to third parties through cookies will not be personally identifiable but may provide general segment information (e.g., your industry or geography or information about your professional or educational background) for the enhancement of your user experience by providing more relevant advertising. 

            </li>
            <li>
                Website does not store unencrypted personally identifiable information in the cookies.

            </li>
            <li>
                The website also collects and stores the data submitted by users. As we allow the users to request data from educational institutions listed on the website, similarly we share the data to respective institutes to fulfill the request and the privacy of such data is under the mutual agreement between institutes and users.
            </li>
            <li>
                The users providing testimonials are entitled to public display and can also be shared with our clients.
            </li>
            <li>
                Users can also receive SMS and Emails containing the information of the college and course he/she applies in and also of related colleges and courses. 
            </li>
            <li>
                Views posted on the forums and our comment section are the sole property of mycollegeai.com as it provides a crucial insight of consumer thought process.
            </li>
            <li>
                The data collected through our platform can be used in the analysis of trends and can also be forwarded to the educational service providers depending upon the usage history. 

            </li>
            <li>
                We reserve the right to change the Terms & conditions and Privacy Policy from time to time as we deem fit, without any intimation to you, and your continued use of the site will signify your acceptance of any amendment to these terms.

            </li>
            <li>
                Data collected through the website can be used in various ways. Company can send customized emails on the users opting for newsletters or notification on admission process and entrance tests. If not interested, users can drop a mail on <a href="mailto: hello@mycollegeai.com"> hello@mycollegeai.com.</a>
            </li>
        </ul>
        </p>
      </div>
    </section>
{% endblock %}