{% load static %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="start_btn"><button>Start Quiz</button></div>
    <div class="quiz_box">
        <header>
            <div class="title">Psychometric Test</div>
        </header>
        <section>
            <div class="que_text">
                <!-- Here I've inserted question from JavaScript -->
            </div>
            <div class="option_list">
                <!-- Here I've inserted options from JavaScript -->
            </div>
        </section>
        <footer>
            <div class="total_que">
                <!-- Here I've inserted Question Count Number from JavaScript -->
            </div>
            <button class="next_btn">Next</button>
        </footer>
    </div>
    <div class="result_box">
        <div class="icon">
            <i class="fas fa-crown"></i>
        </div>
        <div class="complete_text">You've completed the Quiz!</div>
        <div class="score_text">
            <!-- Here I've inserted Score Result from JavaScript -->
        </div>
        <div class="buttons">
            <form action="{% url 'psycho' %}" method="POST" >
                {% csrf_token %}
                <input type="hidden" id ="infrastructure" name="infrastructure" value="1">
                <input type="hidden" id="placement" name="placement" value="1"> 
                <input type="hidden" id ="academics" name="academics" value="1"> 
                <input type="submit" value="Submit" class="submit_button">
            </form>
            <button class="quit">Quit Quiz</button>
        </div>
    </div>
    <script src="{% static 'js/questions.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
