{% extends 'v2/layouts/public.html' %}

{% block title %} Terms and Conditions {% endblock %}

{% block hero_title %} <ul class="breadcrumb">
    <li class="link-01"><a href="{% url 'home' %}">Home</a></li>
    <li class="link-01"> Terms and Conditions</li>
  </ul>
  <h2> Terms and Conditions </h2> {% endblock %}

{% block content %}
<section id="content">
    <div class="container">
      <p> <strong>Welcome to mycollegeai!</strong></p><br>
      <p>
        The following terms and conditions, along
        with all other terms and legal notices located on the website (collectively, "Terms"),
        govern your use of mycollegeai (the "Website"). By using this website, you
        are accepting the provisions of the “Terms &amp; Conditions” in full.
      </p>
      <p>
        The website mycollegeai is in the initial development stage and the
        operators and owners do not make any claims about the accuracy of the information
        published, or about the website itself being free of bugs or faults. The services on the
        website mycollegeai are still under initial development and have been made
        available only for testing purposes. In addition, mycollegeai’ may make changes
        and/or improvements in the services and programs in this Website at any time
        without notice. Changes will periodically be made to the website.
      </p>
      <h3>Registration / Login</h3>
      <p>On registration, you agree:</p>
      <ul>
        <li>
          To provide accurate, current and complete information as prompted in the
          registration form or Lead form or any such form which requires the user to
          enter personally identifiable information to proceed further.
        </li>
        <li>
          To maintain and update information to keep it accurate, and complete. A User
          acknowledges that,
        </li>
        <li>
          If any information provided is untrue, inaccurate, not current or incomplete,
          mycollegeai reserve the right to terminate this Agreement and the user's
          use of this web-site.
        </li>
        <li>
          Declares that his/her parents are aware of his/her application to colleges via
          mycollegeai, and permission has been granted by them for
          unconditional use of the same.
        </li>
      </ul><br>
      <p>
        Upon providing his/her information to the mycollegeai, the User agrees
        to the following points:
      </p>
      <ul>
        <li>
          Make his/her contact details available to mycollegeai; the User may be
          contacted by mycollegeai or any of its associate/partner websites for education
          / application information through email, telephone and SMS, if the User does
          not wish to be contacted, he/she shall communicate the same to
          hello@mycollegeai and necessary action shall then be taken by
          mycollegeai.
          
        </li>
        <li>
          Receive promotional mails/special offers from mycollegeai or any of its
          associate/partner websites.
        </li>
        <li>
          Be contacted by mycollegeai in accordance with the information provided by
          the User.
        </li>
        <li>
          mycollegeai reserves the right to use the user’s mobile and demographic
          information such as age, sex and location to conduct targeted mobile marketing campaigns even for third parties wishing to advertise using our
          database.
        </li>
        <li>
          mycollegeai also reserves the right to sell this information and also the entire
          site to a third party if a third party is desirous of purchasing this information.
          The user shall not have any objection upon any call/SMS/Communication by
          mycollegeai, by any third party on its behalf or by any other party authorized
          by mycollegeai in this regard to communicate with the user regarding any
          matter connected with mycollegeai. Notwithstanding the users registration
          with National Do Not Call Registry/ Fully or Partly blocked category under
          National Customer Preference Register set up under Telecom Regulatory
          Authority of India (TRAI), the user hereby expresses interest and accords
          his/her willful consent to receive communication. The user further confirms
          that any communication, as mentioned hereinabove, shall not be construed as
          Unsolicited Commercial Communication under the TRAI guidelines.
        </li>
      </ul><br>
      <h3>Intellectual Property Rights:</h3>
      <p>
        Unless stated otherwise, mycollegeai fully owns the intellectual property rights of this
        website and materials used on this website. The content on the site can only be used
        for personal use but not exceeding the limits set by following conditions:
        Republishing of the Content from this website in another digital or print media
        platform Sub-Licensing of any product launched through the website’s channel
        Reproduction of any work, survey or study conducted by the website Copyrights and
        Trademarks: mycollegeai holds the rights of all the digital content available
        throughout the website other than the information freely available on the internet
        under the fair usage policy. Trademark of mycollegeai cannot be used to be
        displayed at any commercial or non-commercial use without prior permission from
        the managing company. All the data mining activities i.e. scraping, crawling and
        republishing is not allowed until and unless written permission is obtained from the
        company.
      </p>
      <p><strong>
          The content downloaded from the website mycollegeai do not
          passes the rights or title to use it for commercial use.</strong></p>
      <p>
        Communication with mycollegeai: The website holds the right of all the mails,
        comments or views posted under forum or directly mailed to the website and is free
        to use, although user is free to remove or get removed his/her own content is
        accidentally or intentionally posted on the website. By using this website, it is applies
        to all that one must not use any foul or offensive language in any forum or publicly
        available comment section.
      </p>
      <p>
        Creating a user account on mycollegeai: The website intents to protect private
        information provided by the user while creating a user account and the detailed
        terms are shared in the privacy policy documents of the website. By creating an
        account the user agrees the terms Required to protect the confidentiality of the username and password for the account Liable to any activity conducted using the
        user account Accept all risks and responsibilities for activity done under the
        username.
      </p>
      <h3>Limitation of Liability:</h3>
      <p>
        By using the site, you agree with the clause that mycollegeai will not be liable for any
        legal theory or contracts for any kind issues caused by any other party. The website is
        also not liable to verify or justify information provided by participants of the website
        i.e. educational institutions, coaching institutes, individual comments. To prevent the
        loss of visitor it is highly recommended that every information available on the
        website must be verified before taking it into consideration. mycollegeai declares
        that it will not be used to propagate any malicious or harmful software so in any case
        of program loss or system damage, the website can’t be held responsible. Even the
        portal itself is advised to beware of these possibilities.
      </p>
      <p><span class="paragraph-01"><strong>External Links:  </strong></span><span class="paragraph-01">
          mycollegeai is not liable to any loss caused due to the external
          links available on the website. It is also advised to verify with other sources before
          making any decision on the basis OF advertisements or content available on the
          linked websites.</span></p>
      <p><span class="paragraph-01"><strong>Governing Law:  </strong></span><span class="paragraph-01">
          All the legal proceedings comes under the jurisdiction of
          Honorable High Court, Patna, India and will follow the laws of the state.</span></p>
      <p>
        Use of this Website is at your own risk, and the 'mycollegeai' will not be held liable for
        any errors or omissions contained in this Website. In no event shall the 'mycollegeai'
        be liable for any special, indirect or consequential damages, or any damages
        whatsoever resulting from loss of use, data or profits whether contract, negligence or
        any other tort action arising out of, or in connection with, the use or performance of
        the information available from mycollegeai.
      </p><br>
      <h3>Refund &amp; Cancellation Policy:</h3>
      <p>
        All the monetary transactions done by the user of the site is in lieu with the payment
        gateway partner of mycollegeai, and we take no responsibility of any
        payment discrepancies. Also we have full right to consider and review the refund
        case, if the amount paid by the user is in excess to the number of applications he has
        applied to. We have complete authority to review the college preferences as filled by
        the user if there is shortfall/excess of payment. Also you are required to note your
        Transaction ID and receipt no. as provided by the payment gateway to furnish any
        information or track the payment status of your application form. Any pending
        amount to be paid by the user will need to be paid before the deadline for the
        application to the college has been reached. Any payment received after that may not result in acceptance of the application as a valid entry by the college. Call Cannot be
        held liable for the same and no refund will be entertained in such cases.
      </p><br>
      <p>For privacy related policies check our <a class="paragraph-01" href="{% url 'privacy' %}">Privacy Policy</a>.</p>
    </div>
  </section>
{% endblock %}