/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');



.start_btn,
.quiz_box,
.result_box{
    position: absolute;
    margin-top: 100px;
    top: 50%;
    left: 50%;
    width: 200px;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (max-width: 800px) {
    .start_btn{
        position: relative;
    }
} 

.quiz_box.activeQuiz,
.result_box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.start_btn button{
    font-size: 25px;
    font-weight: 500;
    color: #099e00;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
}

.quiz_box{
    width: 550px;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

@media screen and (max-width: 571px){
    .quiz_box{
        width: 90%;
    }
}
.quiz_box header-p{
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

.quiz_box header-p .title{
    font-size: 20px;
    font-weight: 600;
}

section-p{
    background: #fff;
}

section-p .que_text{
    font-size: 25px;
    font-weight: 600;
}

section-p .option_list{
    padding: 20px 0px;
    display: block;   
}

section-p .option_list .option{
    border: 1px solid #84fec5;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section-p .option_list .option:last-child{
    margin-bottom: 0px;
}

section-p .option_list .option:hover{
    color: #008540;
    background: #ccffd5;
    border: 1px solid #b8ffda;
}

section-p .option_list .option.correct{
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}

section-p .option_list .option.incorrect{
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

section-p .option_list .option.disabled{
    pointer-events: none;
}

section-p .option_list .option .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}

footer-p{
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}

footer-p .total_que span{
    display: flex;
    user-select: none;
}

footer-p .total_que span p{
    font-weight: 500;
    padding: 0 5px;
    line-height: 1.375rem;
}

footer-p .total_que span p:first-child{
    padding-left: 0px;
}

footer-p button{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: #099e00;
    border: 1px solid #099e00;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

footer-p button:hover{
    background: #02fa23;
}

footer-p button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.result_box{
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.result_box .icon{
    font-size: 100px;
    color: #099e00;
    margin-bottom: 10px;
}

.result_box .complete_text{
    font-size: 20px;
    font-weight: 500;
}

.result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.result_box .score_text span p{
    padding: 0 4px;
    font-weight: 600;
}

.result_box .buttons{
    display: flex;
    margin: 20px 0;
}

.result_box .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #099e00;
    transition: all 0.3s ease;
}

.buttons .submit_button{
    color: #fff;
    background: #099e00;
}

.buttons .submit_button:hover{
    background: #02fa23;
}

.buttons button.quit{
    color: #099e00;
    background: #fff;
}

.buttons button.quit:hover{
    color: #fff;
    background: #099e00;
}
