{% extends 'layouts/public.html' %}
{% load static %}
{% block title %} {{ college.abbreviated_name }} {% endblock %}
{% block page_name %}
    <li class="breadcrumb-item active">Colleges</li>
    <li class="breadcrumb-item active">{{ college.full_name }}, {{ college.city }}</li>
{% endblock %}
{% block content %}
    <div class="social-wrapper">
    <div class="social " data-pages="social">
      <!-- START JUMBOTRON -->
        <div class="jumbotron" data-social="cover" data-pages="parallax" data-scroll-element=".page-container">
        <div class="cover-photo">
          <img alt="Cover photo" src="{{ college.image.url }}" />
        </div>
        <div class=" container    container-fixed-lg sm-p-l-0 sm-p-r-0">
          <div class="inner">
            <div class="pull-bottom bottom-left m-b-40 sm-p-l-15">
                <h1 class="text-white no-margin"><span class="semi-bold">{{ college.abbreviated_name }}</span></h1>
                <h5 class="text-white no-margin">{{ college.city }}, {{ college.state }}</h5>
            </div>
          </div>
        </div>
      </div>

      <!-- END JUMBOTRON -->
    </div>
    <!-- /container -->
  </div>
    <div class="row b-t b-grey m-t-40 p-t-40 p-b-40 m-b-30">
        <div class="col-md-4">
          <!-- START card -->
          <div class="card card-transparent">
            <div class="card-body">
              <h2>{{ college.full_name }}</h2>
              <p>{{ college.get_ownership_display }} | {{ college.get_college_type_display }}</p>
            </div>
          </div>
          <!-- END card -->
        </div>
        <div class="col-md-6" style="margin: 10px">
          <div class="b-b b-grey m-t-20">
            <h5 class="m-b-20">Forsaking monastic tradition, twelve jovial friars gave up their
                                    vocation for a questionable existence on the flying trapeze. Bawds jog, flick quartz,
                                    vex nymph.</h5>
            <div class="d-flex justify-content-between m-b-5" style="margin: 10px">
              <p>h5</p>
              <p>18px/26px Letter-spacing: -0.00630069em</p>
            </div>
          </div>
        </div>
    </div>
{% endblock %}