{% extends 'layouts/public.html' %}
{% block title %} 500 {% endblock %}
{% block page_name %}
    <li class="breadcrumb-item active">500</li>
{% endblock %}
{% block content %}
    <div class="d-flex justify-content-center full-height full-width align-items-center">
      <div class="error-container text-center">
        <h1 class="error-number">500</h1>
        <h2 class="semi-bold">Sorry, this error is from our side.</h2>
        <p class="p-b-10">Please try again later or <a href="#">Report this?</a>
        </p>
      </div>
    </div>
{% endblock %}