{% extends 'layouts/auth.html' %}
{% load crispy_forms_tags %}
{% block title %}Reset Password{% endblock %}

{% block content %}
     
    

    <!-- START Login Form -->
      <form class="p-t-15" method="POST" role="form">
         {% csrf_token %}
        <!-- START Form Control-->
        <div class="form-group form-group-default">
          <label>Reset Password</label>
          {{form | crispy }}
        
        </div>
       
        <div class="row">
          
          <div class="col-md-6 d-flex align-items-center justify-content-end">
            <button aria-label="" class="btn btn-primary btn-lg m-t-10" type="submit">Reset Password Confirm</button>
          </div>
        </div>
       
      
     
      </form>
  
{% endblock %}