{% extends "v2/raw/edit-layout.html" %}
{% block content %}


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}


<br>
      <div class="update-password" id="update-password">
        <div class="container">
          <h4 class="sub-header-01">Update Password</h4><br><br>
          <form class="form-edu-details" method = "post" data-validate>
            {% csrf_token %}
            <div class="form-element">
              <label for="password">Your Old/Current Password</label>
              <input required type="password" autocomplete="password" name="old_password" placeholder="Type your Old Password">
            </div><br>
            <div class="form-element">
              <label class="set-password" for="new_password">
                 Set New Password<span class="label-01">Please use atleast 8 characters</span></label>
              <input data-bouncer-message="Hi" type="password" autocomplete="new_password" name="new_password" minlength="8" placeholder="Type your Password" required>
            </div>
            <br>
            <div class="form-element">
              <input class="button-primary" type="submit" value="Update Password">
            </div>
          </form>
        </div>
      </div><br><br>

{% endblock %}
