{% load static %}
<div class="bg-white">
    <div class="container">
      <div class="menu-bar header-sm-height" data-pages-init='horizontal-menu' data-hide-extra-li="4">
        <a href="#" class="btn-link header-icon toggle-sidebar d-lg-none" data-toggle="horizontal-menu">
          <i class="pg-icon">close</i>
        </a>
        <ul>
          {% if user.is_authenticated %}
            <li>
                <a href="/protected/dashboard">Dashboard</a>
            </li>
            {% endif %}
            <li>
            <a href="{% url 'college:list' %}">Colleges</a>
          </li>
            <li>
            <a href="/consult">Consult</a>
          </li>
            <li>
            <a href="/consult">About</a>
          </li>
            <li>
            <a href="/consult">Compare</a>
          </li>
            <li>
            <a href="/consult">Refer</a>
          </li>
        </ul>
        <a href="#" class="search-link d-flex justify-content-between align-items-center d-lg-none" data-toggle="search">Tap here to search <i class="pg-search float-right"></i></a>
      </div>
    </div>
  </div>
