{% load static %}
<!-- BEGIN Overlay Search Results, This part is for demo purpose, you can add anything you like !-->
<div class="container-fluid p-t-20">
  <span class="hint-text">
        suggestions :
    </span>
  <span class="overlay-suggestions"></span>
  <br>
  <div class="search-results m-t-30">
    <p class="bold">Pages Search Results: <span class="overlay-suggestions"></span></p>
    <div class="row">
      <div class="col-md-6">
        <!-- BEGIN Search Result Item !-->
        <div class="d-flex m-t-15">
          <!-- BEGIN Search Result Item Thumbnail !-->
          <div class="thumbnail-wrapper d48 circular bg-success text-white ">
            <img width="36" height="36" src="{% static 'assets/img/profiles/avatar.jpg' %}" data-src="{% static 'assets/img/profiles/avatar.jpg' %}" data-src-retina="{% static 'assets/img/profiles/avatar2x.jpg' %}" alt="">
          </div>
          <!-- END Search Result Item Thumbnail !-->
          <div class="p-l-10">
            <h5 class="no-margin "><span class="semi-bold result-name">ice cream</span> on pages</h5>
            <p class="small-text hint-text">via john smith</p>
          </div>
        </div>
        <!-- END Search Result Item !-->
        <!-- BEGIN Search Result Item !-->
        <div class="d-flex m-t-15">
          <!-- BEGIN Search Result Item Thumbnail !-->
          <div class="thumbnail-wrapper d48 circular bg-success text-white ">
            <div>T</div>
          </div>
          <!-- END Search Result Item Thumbnail !-->
          <div class="p-l-10">
            <h5 class="no-margin "><span class="semi-bold result-name">ice cream</span> related topics</h5>
            <p class="small-text hint-text">via pages</p>
          </div>
        </div>
        <!-- END Search Result Item !-->
        <!-- BEGIN Search Result Item !-->
        <div class="d-flex m-t-15">
          <!-- BEGIN Search Result Item Thumbnail !-->
          <div class="thumbnail-wrapper d48 circular bg-success text-white ">
            <div>M
            </div>
          </div>
          <!-- END Search Result Item Thumbnail !-->
          <div class="p-l-10">
            <h5 class="no-margin "><span class="semi-bold result-name">ice cream</span> music</h5>
            <p class="small-text hint-text">via pagesmix</p>
          </div>
        </div>
        <!-- END Search Result Item !-->
      </div>
      <div class="col-md-6">
        <!-- BEGIN Search Result Item !-->
        <div class="d-flex m-t-15">
          <!-- BEGIN Search Result Item Thumbnail !-->
          <div class="thumbnail-wrapper d48 circular bg-info text-white d-flex align-items-center">
            <i class="pg-icon">facebook</i>
          </div>
          <!-- END Search Result Item Thumbnail !-->
          <div class="p-l-10">
            <h5 class="no-margin "><span class="semi-bold result-name">ice cream</span> on facebook</h5>
            <p class="small-text hint-text">via facebook</p>
          </div>
        </div>
        <!-- END Search Result Item !-->
        <!-- BEGIN Search Result Item !-->
        <div class="d-flex m-t-15">
          <!-- BEGIN Search Result Item Thumbnail !-->
          <div class="thumbnail-wrapper d48 circular bg-complete text-white d-flex align-items-center">
            <i class="pg-icon">twitter</i>
          </div>
          <!-- END Search Result Item Thumbnail !-->
          <div class="p-l-10">
            <h5 class="no-margin ">Tweats on<span class="semi-bold result-name"> ice cream</span></h5>
            <p class="small-text hint-text">via twitter</p>
          </div>
        </div>
        <!-- END Search Result Item !-->
        <!-- BEGIN Search Result Item !-->
        <div class="d-flex m-t-15">
          <!-- BEGIN Search Result Item Thumbnail !-->
          <div class="thumbnail-wrapper d48 circular text-white bg-danger d-flex align-items-center">
            <i class="pg-icon">google_plus</i>
          </div>
          <!-- END Search Result Item Thumbnail !-->
          <div class="p-l-10">
            <h5 class="no-margin ">Circles on<span class="semi-bold result-name"> ice cream</span></h5>
            <p class="small-text hint-text">via google plus</p>
          </div>
        </div>
        <!-- END Search Result Item !-->
      </div>
    </div>
  </div>
</div>
<!-- END Overlay Search Results !-->