{% load static %}
 <div class="pull-left p-r-10 fs-14 d-lg-inline-block d-none text-white">
    <span class="semi-bold">{{ user.first_name }}</span> <span class="">{{ user.last_name }}</span>
</div>
<div class="dropdown pull-right d-lg-block">
    <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="profile dropdown">
      <span class="thumbnail-wrapper d32 circular inline">
                <img src="{% static 'assets/img/profiles/avatar.jpg' %}" alt="" data-src="{% static 'assets/img/profiles/avatar.jpg' %}"
                    data-src-retina="{% static 'assets/img/profiles/avatar_small2x.jpg' %}" width="32" height="32">
            </span>
    </button>
    <div class="dropdown-menu dropdown-menu-right profile-dropdown" role="menu">
      <a href="#" class="dropdown-item"><span>Signed in as <br /><b>{{ user.username }}</b></span></a>
      <div class="dropdown-divider"></div>
      <a href="{% url 'home' %}" class="dropdown-item">Your Profile</a>
      <div class="dropdown-divider"></div>
      <a href="#" class="dropdown-item">Features</a>
      <a href="#" class="dropdown-item">Help</a>
      <a href="#" class="dropdown-item">Settings</a>
      <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
      <div class="dropdown-divider"></div>
      <span class="dropdown-item fs-12 hint-text">Last edited by {{ user.username }}<br />at Friday, 5:27PM</span>
    </div>
  </div>
